#  Data Types and Structures Assignment – Python

---

### 1. **What are data structures, and why are they important?**

Data structures are special formats to organize, store, and manage data efficiently. They help us perform operations like searching, adding, deleting, and updating data quickly.

 Example: Lists, dictionaries, sets, and tuples in Python.

 **Why important?**  
- Save time and memory  
- Help in writing clean and fast code  
- Make it easier to solve real-world problems

---

### 2. **Explain the difference between mutable and immutable data types with examples.**

- **Mutable** means **changeable** after creation.  
- **Immutable** means **unchangeable** once created.

 Examples:
- **Mutable**: List → `my_list = [1, 2, 3]` → You can change an item: `my_list[0] = 10`
- **Immutable**: Tuple → `my_tuple = (1, 2, 3)` → You can't do: `my_tuple[0] = 10` (this gives error)

---

### 3. **What are the main differences between lists and tuples in Python?**

| Feature     | List (`[]`) | Tuple (`()`) |
|-------------|-------------|---------------|
| Mutability  | Mutable     | Immutable     |
| Speed       | Slower      | Faster        |
| Use case    | Frequent changes | Fixed data |
| Syntax      | `[1, 2, 3]` | `(1, 2, 3)`   |

---

### 4. **Describe how dictionaries store data.**

Dictionaries store data in **key-value** pairs.  
Each key is unique, and it points to a value.

 Example:
```python
student = {"name": "Shresth", "age": 22}
```

---

### 5. **Why might you use a set instead of a list in Python?**

Sets:
- **Do not allow duplicates**
- Are **faster** for checking if an item exists (`in` operator)

 Useful when you want **unique items only**, like a list of unique visitors to a website.

---

### 6. **What is a string in Python, and how is it different from a list?**

A string is a sequence of characters like `"hello"`.  
A list is a sequence of items (can be anything).

 Difference:
- Strings are **immutable**
- Lists are **mutable**
- You can have different types in a list; strings only contain characters.

---

### 7. **How do tuples ensure data integrity in Python?**

Tuples are **immutable** — once created, their values **can’t be changed**.  
This means the data stays safe and can't be accidentally modified.

---

### 8. **What is a hash table, and how does it relate to dictionaries in Python?**

A **hash table** is a data structure that stores data using a **key and a hash function**.  
Python’s **dictionary** is built on top of hash tables.

---

### 9. **Can lists contain different data types in Python?**

 Yes! Lists can hold **mixed data types**.

---

### 10. **Explain why strings are immutable in Python.**

Strings are immutable to:
- Save memory
- Make code more predictable
- Improve performance when used as keys in dictionaries (because immutable = hashable)

---

### 11. **What advantages do dictionaries offer over lists for certain tasks?**

 **Fast lookup** by key  
 **More meaningful data storage** using keys  
 **Avoids searching through index numbers**

---

### 12. **How do sets handle duplicate values in Python?**

Sets **automatically remove duplicates**.

---

### 13. **Describe a scenario where using a tuple would be preferable over a list.**

If you want to store a user's **date of birth**:  
```python
dob = (2001, 11, 10)
```

Since this info won’t change, a **tuple** is best for **data safety**.

---

### 14. **How does the `in` keyword work differently for lists and dictionaries?**

- In **lists**, `in` checks **values**
- In **dictionaries**, `in` checks **keys only**

---

### 15. **Can you modify the elements of a tuple? Explain why or why not.**

 No, you **cannot** modify a tuple.  
Because tuples are **immutable**, any attempt to change them will raise an error.

---

### 16. **What is a nested dictionary, and give an example of its use case.**

A **nested dictionary** is a dictionary inside another dictionary.

 Example:
```python
students = {
    "101": {"name": "Amit", "age": 20},
    "102": {"name": "Priya", "age": 22}
}
```

---

### 17. **Describe the time complexity of accessing elements in a dictionary.**

 **Time Complexity:** `O(1)` on average

---

### 18. **In what situations are lists preferred over dictionaries?**

 When **order matters**  
 When you only need **values**, not key-value pairs  
 When data is **simple** and doesn't need labels

---

### 19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**

Traditionally, dictionaries were unordered (before Python 3.7).  
That means:
- You **can't rely** on the order of items.
- **Retrieval is by key**, not by position/index.

---

### 20. **Explain the difference between a list and a dictionary in terms of data retrieval.**

| Feature         | List                     | Dictionary                    |
|------------------|--------------------------|-------------------------------|
| Access by        | Index number             | Key                           |
| Speed            | Slower for searching     | Faster (constant time lookup) |
| Use when         | Order matters            | Need key-value association    |

---

#  Practical Questions on Python Data Types and Structures

### 1. Write a code to create a string with your name and print it

In [30]:
my_name = "Shresth"
print(my_name)

Shresth

### 2. Write a code to find the length of the string 'Hello World'

In [29]:
print(len("Hello World"))

11

### 3. Write a code to slice the first 3 characters from the string 'Python Programming'

In [28]:
s = "Python Programming"
print(s[:3])

Pyt

### 4. Write a code to convert the string 'hello' to uppercase

In [27]:
print("hello".upper())

HELLO

### 5. Write a code to replace the word 'apple' with 'orange' in the string 'I like apple'

In [26]:
s = "I like apple"
print(s.replace("apple", "orange"))

I like orange

### 6. Write a code to create a list with numbers 1 to 5 and print it

In [25]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

### 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [24]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

### 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [23]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

### 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [22]:
lst = ['a', 'b', 'c', 'd']
print(lst[1])

b

### 10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [21]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

### 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [20]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

### 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [19]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

### 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [18]:
nums = (10, 20, 5, 15)
print(min(nums))

5

### 14. Write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit')

In [17]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index('cat'))

1

### 15. Write a code to create a tuple containing three different fruits and check if 'kiwi' is in it

In [16]:
fruits = ('apple', 'banana', 'mango')
print('kiwi' in fruits)

False

### 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [15]:
s = {'a', 'b', 'c'}
print(s)

{'a', 'c', 'b'}

### 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [14]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

### 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [13]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

### 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [12]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

### 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [11]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
print(set1.intersection(set2))

{2, 3}

### 21. Write a code to create a dictionary with the keys 'name', 'age', and 'city', and print it

In [10]:
person = {'name': 'John', 'age': 30, 'city': 'New York'}
print(person)

{'name': 'John', 'age': 30, 'city': 'New York'}

### 22. Write a code to add a new key-value pair 'country': 'USA' to the dictionary {'name': 'John', 'age': 25}

In [9]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

### 23. Write a code to access the value associated with the key 'name' in the dictionary {'name': 'Alice', 'age': 30}

In [8]:
data = {'name': 'Alice', 'age': 30}
print(data['name'])

Alice

### 24. Write a code to remove the key 'age' from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}

In [7]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

### 25. Write a code to check if the key 'city' exists in the dictionary {'name': 'Alice', 'city': 'Paris'}

In [6]:
data = {'name': 'Alice', 'city': 'Paris'}
print('city' in data)

True

### 26. Write a code to create a list, a tuple, and a dictionary, and print them all

In [5]:
my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {'a': 1, 'b': 2}
print(my_list)
print(my_tuple)
print(my_dict)

[1, 2, 3]
(4, 5, 6)
{'a': 1, 'b': 2}

### 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result

In [4]:
import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[12, 13, 58, 62, 99]

### 28. Write a code to create a list with strings and print the element at the third index

In [3]:
lst = ['apple', 'banana', 'cherry', 'date']
print(lst[3])

date

### 29. Write a code to combine two dictionaries into one and print the result

In [2]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### 30. Write a code to convert a list of strings into a set

In [1]:
words = ['apple', 'banana', 'apple', 'cherry']
unique_words = set(words)
print(unique_words)

{'cherry', 'banana', 'apple'}